<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Список заказов</title>
    <th:block th:replace="~{fragments/resources :: head/link}"></th:block>
    <th:block th:replace="~{fragments/resources :: head/script}"></th:block>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/navigation :: navigation(Orders)}" />
    <h1>Список заказов</h1>

    <h3>Фильтр</h3>
    <form method="get" th:action="@{/admin/orders}">
        <div class="form-group col-md-6">
            <label for="customerNameInput">Имя клиента</label>
            <input class="form-control" th:value="${param.customerName != null ? param.customerName : null}" name="customerName" type="text" id="customerNameInput">
        </div>
        <div class="form-group col-md-6">
            <label for="minPriceInput">Минимальная цена</label>
            <input class="form-control" th:value="${param.min_price != null ? param.min_price : null}" name="min_price" type="number" id="minPriceInput">
        </div>
        <div class="form-group col-md-6">
            <label for="maxPriceInput">Максимальная цена</label>
            <input class="form-control" th:value="${param.max_price != null ? param.max_price : null}" name="max_price" type="number" id="maxPriceInput">
        </div>

        <button class="btn btn-primary" type="submit">Применить</button>
        <a class="btn btn-primary" th:href="@{/admin/orders}">Очистить фильтр</a>
    </form>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Код заказ</th>
            <th>Клиент</th>
            <th>Цена</th>
            <th sec:authorize="hasAnyRole('ADMIN','SUPER_ADMIN')">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${orders}">
            <td th:text="${o.id}"/>
            <td th:text="${o.code}"/>
            <td th:text="${o.user.name}"/>
            <td th:text="${o.totalPrice}"/>
            <td>
                <a class="btn btn-danger" th:href="@{'/orders/remove/' + ${o.id}}" sec:authorize="hasAnyRole('ADMIN','SUPER_ADMIN')">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>