<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div th:replace="~{fragments/navigation :: navigation(Products)}" />
                <h1>Добавить новый товар</h1>
                <!--/*@thymesVar id="customer" type="com.geekbrains.spring.lesson6.entities.Product"*/-->
                <form method="post" th:action="@{/products/add}" th:object="${product}">
                    <div class="form-group col-md-6">
                        <label for="title">Название</label>
                        <input class="form-control" name="title" type="text" id="title" th:field="*{title}">
                        <p th:class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="title">Бренд</label>
                        <input class="form-control" name="brandName" type="text" id="brandName" th:field="*{brandName}">
                        <p th:class="text-danger" th:if="${#fields.hasErrors('brandName')}" th:errors="*{title}">Incorrect brandName</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="price">Цена товара</label>
                        <input class="form-control" name="price" type="number" id="price">
                    </div>
                    <button class="btn btn-primary" type="submit">Добавить</button>
                    <a class="btn btn-primary" th:href="@{/products}">Очистить</a>
                </form>
                <br>
                <a th:href="@{/}">на Главную страницу</a>
            </div>
        </div>
    </div>
</body>
</html>