<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <title>Список пользователей.</title>
    <th:block th:replace="~{fragments/resources :: head/link}"></th:block>
    <th:block th:replace="~{fragments/resources :: head/script}"></th:block>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/navigation :: navigation(Users)}" />
    <h1>Список пользователей.</h1>
<!--    <h3>Фильтр</h3>-->
<!--    <form method="get" th:action="@{/admin/products}">-->
<!--        <div class="form-group col-md-6">-->
<!--            <label for="titleInput">Название</label>-->
<!--            <input class="form-control" th:value="${param.title != null ? param.title : null}" name="title" type="text" id="titleInput">-->
<!--        </div>-->
<!--        <div class="form-group col-md-6">-->
<!--            <label for="minPriceInput">Минимальная цена</label>-->
<!--            <input class="form-control" th:value="${param.min_price != null ? param.min_price : null}" name="min_price" type="number" id="minPriceInput">-->
<!--        </div>-->
<!--        <div class="form-group col-md-6">-->
<!--            <label for="maxPriceInput">Максимальная цена</label>-->
<!--            <input class="form-control" th:value="${param.max_price != null ? param.max_price : null}" name="max_price" type="number" id="maxPriceInput">-->
<!--        </div>-->

<!--        <button class="btn btn-primary" type="submit">Применить</button>-->
<!--        <a class="btn btn-primary" th:href="@{/admin/products}">Очистить фильтр</a>-->
<!--        <a class="btn btn-primary" th:href="@{/admin/products/add}" sec:authorize="hasAnyRole('ADMIN','SUPER_ADMIN')">Добавить новый товар</a>-->
<!--    </form>-->

    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Имя</th>
            <th>Имя</th>
<!--            <th>Роль</th>-->
            <th>Телефон</th>
<!--            <th>Цена</th>-->
<!--            <th>Дата создания</th>-->
<!--            <th>Дата изменения</th>-->
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
<!--            <td th:text="${p.id}"/>-->
<!--            <td align="center">-->
<!--                <img th:src="@{'/img/' + ${p.image}}" th:width="100" />-->
<!--            </td>-->
            <td th:text="${u.name}"/>
            <td th:text="${u.username}"/>
<!--            <td th:text="#{text.products.price(${p.price})}"/>-->
            <td th:text="${u.phone}"/>
<!--            <td th:text="${u.role}"/>-->
            <td>
<!--                <a class="btn btn-success" th:href="@{'/cart/add/' + ${p.id}}">В корзину</a>-->
                <a class="btn btn-danger" th:href="@{'/users/delete/' + ${u.id}}" sec:authorize="hasAnyRole('ADMIN','SUPER_ADMIN')">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

<!--    <nav aria-label="Page navigation">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item" th:classappend="${products.isFirst() ? 'disabled' : ''}">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{'/products?p=' + ${products.previousOrFirstPageable().getPageNumber() + 1} + ${filterDefinition}}">Назад</a>-->
<!--            </li>-->

<!--            <li class="page-item" th:classappend="${products.getNumber() + 1 == i ? 'active' : ''}"-->
<!--                th:each="i : ${#numbers.sequence(1, products.getTotalPages())}">-->
<!--                <a class="page-link" th:text="${i}" th:href="@{'/products?p=' + ${i} + ${filterDefinition}}"></a>-->
<!--            </li>-->

<!--            <li class="page-item"  th:classappend="${products.isLast() ? 'disabled' : ''}">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{'/products?p='+ ${products.nextOrLastPageable().getPageNumber() + 1} + ${filterDefinition}}">Вперед</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</div>

</body>
</html>